/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.white  {
  color: white !important;
}
body {
  /* background-color: #121212; */
  background-color: #0c1318 /*this looks nice*/
}

.player-fluid {
  background-color: black;
  position: sticky;
  bottom: 0;
  height: 70px;
  padding: 10px;
  color: white
}
.player {
  display: inline-flex;
  background-color: #0c1318;
  position: sticky;
  bottom: 0;
  height: 70px;
  padding: 10px;
  color: white;
  width: 100%;
}
svg {
  fill: white;
}
.card {
  /* box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white; */
}
.empty-card{
  /* background-color : #121212; */
  background-color: #0c1318
}



.timespan {
  color: #007bff;
  width: inherit;
  /* top: 30%; */
  /* right: 450px; */
  /* position: absolute; */
}
/* https://www.iconsdb.com/white-icons/fast-forward-icon.html */
.playimg, .nextimg, .previmg, .pauseimg {
  width: 30px;
  height: 30px; 
}



.card-img-top {
  /* background-image: url('/img/play-64.png'); */
  /* width: fit-content; */
  /* height: fit-content; */
}

.info {
  flex:2;
}
.prev, .play, .pause, .next {
  flex:0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gutter {
  top: 30px;
  /* position: absolute; */
  flex: 3;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* padding-top: 50%; */
  /* padding-bottom: 50%;  */
  
}
.waste {
  flex: 25;
}
.done , .left {
  background-color: #007bff;
  /* height: 5px; */
  /* width: 300px; */
  width: 100%;
  /* position: absolute; */
  /* display: flex; */
  flex: 2;
  justify-content: center;
  align-items: baseline;
  
  /* top: 60%; */
}
.ball {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 27px;
  /* position: absolute; */
  background-color: #007bff;
}
.time {
  flex:2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: table-cell; */
  text-align: center;
  vertical-align: middle;
  
}
.timespan { 

}
.audio {
 flex: 0;
}

/*MATERIAL DESIGN THEMES ARE GREATTTT*/