.white  {
  color: white !important;
}
body {
  background-color: #0c1318 ; /*this looks nice*/
}
nav.navbar {
  background-color: rgba(12, 19, 24, 0.95) !important;
}
h5, h6, div.card-title.h5{
  color: #BB86FC !important;
}
div.card-subtitle.h6 {
  color: #BB86FC !important;
}
.song-card {
  box-shadow:  3px 3px 5px 1px black;
}
.song-card:hover {
  box-shadow:  3px 3px 5px 1px #BB86FC;
  transform: scale(1.05);
}
div.card-body {
  background-color: rgba(12, 19, 24, 0.95);
}
#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BB86FC;
  opacity: 1; /* Firefox */
}

.bg-dark, body, #search {
  background-color: #0c1318 ; /*this looks nice*/
}
.card {
  border: none;
}
#search {
  color: #BB86FC;
  border: 4px solid #BB86FC;
  border-radius: 5px;  
  box-shadow: #BB86FC;
  border-radius: 20px;
}
.extra-space {
  width: 100%;
  min-height: 60px;
}

.player-fluid {
  background-color: black;
  position: sticky;
  bottom: 0;
  height: 70px;
  padding: 10px;
  color: white
}
.player {
  display: inline-flex;
  background-color: #0c1318;
  position: fixed;
  bottom: 0;
  height: 70px;
  padding: 10px;
  color: white;
  width: 100%;
}
svg {
  fill: white;
}

.empty-card{
  background-color: #0c1318
}



.timespan {
  color: #BB86FC;
  width: inherit;
}
/* https://www.iconsdb.com/white-icons/fast-forward-icon.html */
.playimg, .nextimg, .previmg, .pauseimg {
  width: 30px;
  height: 30px; 
}



.card-img-top {
  height: 14rem;
}

.info {
  flex:2;
}
.prev, .play, .pause, .next {
  flex:0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev:hover, .play:hover, .pause:hover, .next:hover {
  transform: scale(1.2);
}

.gutter {
  top: 30px;
  flex: 3;
  display: flex;
  flex-direction: column;
}
.waste {
  flex: 25;
}
.done , .left {
  background-color: #BB86FC;
  width: 100%;
  flex: 2;
  justify-content: center;
  align-items: baseline;  
}
.ball {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 27px;
  background-color: #BB86FC;
}
.time {
  flex:2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  color: #BB86FC;
  
}
#volume {
  background-color: red;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 2px; /* Specified height */
  background: #BB86FC; /* Grey background */
  outline: none; /* Remove outline */
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 7.5px;
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.audio {
 flex: 0;
}
